<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="twitterData.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <twitterData.Settings1>
            <setting name="APIKey" serializeAs="String">
                <value>IpP3rk9RyEgYtVUyCHmHLA5NT</value>
            </setting>
            <setting name="APISecretKey" serializeAs="String">
                <value>Ss40pkG2CxMLu2WlYiDKS78pQHv7wjYN8ipvQggaOC5k21InxL</value>
            </setting>
            <setting name="TokenKey" serializeAs="String">
                <value>30866005-qMWa5UUZQH1b3VEXEspAMgT0zbe2PlqQTNEEK1aZN</value>
            </setting>
            <setting name="TokeySecretKey" serializeAs="String">
                <value>Y5bAallEdBhhSpktpQ94lJriKCzcbZR8rLcLkaiKizBE9</value>
            </setting>
            <setting name="Bearer" serializeAs="String">
                <value>AAAAAAAAAAAAAAAAAAAAAFnz2wAAAAAAxTmQbp%2BIHDtAhTBbyNJon%2BA72K4%3DeIaigY0QBrv6Rp8KZQQLOTpo9ubw5Jt?WRE8avbi</value>
            </setting>
        </twitterData.Settings1>
    </userSettings>
</configuration>